$color-primary: #00bc77;
$color-secondary: #12002b;
$color-text: #2c3e50;
$color-text-dark: #222;

header {
	position: fixed;
	background-color: white;
	width: 100%;
	border-bottom: 2px solid #dddddd;
	z-index: 1;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	&__logo {
		display: flex;
		align-items: center;
		&__image {
			width: 70%;
		}
		@media (max-width: 768px) {
			width: 60%;
		}
	}
	&__container {
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: flex-end;
		width: 100%;

		&__item {
			font-size: 22px;
			text-decoration: none;
			color: black;
			border: transparent;
			background: transparent;
			display: flex;
			gap: 1rem;

			&:hover {
				text-decoration: underline;
			}
			@media (max-width: 768px) {
				font-size: 18px;
			}
		}
	}
}

.firstname {
	// color: #12002b;
}
