@use '../styles/variables';

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.editButton {
  border-color: variables.$color-primary;
  background-color: variables.$color-primary;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  min-width: 100px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 18px;
}

.xMargin {
  margin: 0 10px;
}
