.account {
	// background-color: #fff; /* White background for account sections */
	color: #000;
	width: 80%;
	// padding: 1rem;
	margin: 1rem 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 2rem;
	&__wrapper {
		background-color: #fff;
		width: 100%;
		padding: 1rem;
		&__title {
			position: relative;
			margin: 1rem 1rem 0;
			font-size: 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-weight: 100;
		}
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0 1rem;
			&__amount {
				font-size: 40px;
				font-weight: 900;
			}
			&__cta {
				&__transactionButton {
					background-color: #00bc77; /* Bright green for transaction button */
					color: #fff;
					padding: 10px;
					border: none;
					cursor: pointer;
					box-shadow: 3px 3px 0px rgb(95, 95, 95);
					font-size: 20px;
				}
			}
		}
		&__description {
			position: relative;
			margin: 0 1rem 1rem;
			font-size: 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
}
