.feature {
  flex: 1;
  padding: 2.5rem;
}

.feature__icon {
  width: 100px;
  border: 10px solid green;
  border-radius: 50%;
  padding: 1rem;
}

.feature__title {
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.featuresContainer{
  display: flex;
}