.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--404BgColor);
	color: var(--404FontColor);
	font-family: Arial, sans-serif;

	&__message {
		font-size: 45px;
		margin: 2.5rem;
	}

	&__title {
		font-size: 6rem;
		margin: 0;
		color: var(--errorMessage);
	}
	&__suggestion {
		font-size: 30px;
		margin: 1rem;
		a {
			color: var(--404Link);
			text-decoration: none;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
