.signIn {
  box-sizing: border-box;
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;

  &__icon {
    font-size: 5rem;
  }
  
  &__errorMessage {
    color: red;
    font-weight: bold;
    margin: 1em 0;
  }

  &__form {
    margin-top: 1rem;
  }
}

.signIn__form__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
  }

  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}

.signIn__form__remember {
  display: flex;
  align-items: center;

  label {
    margin-left: 0.25rem;
  }

  label, input {
    cursor: pointer;
  }
}

.signIn__button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  background-color: green;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darkgreen;
  }
}
