.footer {
	display: flex;
	justify-content: center;
	border-top: 2px solid var(--borderLineColor);
	padding: 1.5rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2%;
	background-color: var(--defaultBgColor);
	&__text {
		margin: 0;
		padding: 0;
	}
}
